/* ---------------------------------------- Background elements ---------------------------------------- */

* {
    box-sizing: border-box;
  }


  body {
    background-color: black;
    font-family: system-ui, sans-serif;
    margin: 0;
  }

  /* ---------------------------------------- Story Display ---------------------------------------- */

  .displayStory {
    height: 560px;
    background-color: black;
    color: white;
    padding: 24px 72px;
    border-color: blueviolet;
    border-width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
  }

  /* ---------------------------------------- Nav bar ---------------------------------------- */

#startButton {
  background-color: #00FFFF;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 25px;
}

.optionButtons {
    background-color: blue;
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
  }

.btn {
  background-color: #D100FF;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 30px;
  cursor: pointer;
  border: none;

  }

  .diceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

.dice {
  width: 100px;
  height: 100px;
  color: #00FFFF;
  background-color: #1A0029;
  font-size: 55px;
}

/* ---------------------------------------- Crew indicator ---------------------------------------- */

  #crewContainer {
    width: 70;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .crewMember img {
    width: 90px;
    height: 90px;
  }

  #memberIndex {
    width: 70;
    height: 70px;
    color: white;
    font-style:oblique;
    font-size: 30px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


/* ---------------------------------------- assignable classes ---------------------------------------- */

  .hidden {
    display: none;
  }